body {font-family: Arial, Calibri;}

h2 {
	text-align: center;
}

.center {
	text-align: center;
}

.line {
	height: 6px;
	color: black;
	background-color: black;
}

.tab {
	display: inline-block;
	margin-left: 150px;
}

ul { padding-left: 200px }
